
Connectivity Buddy.xcodeproj/xcuserdata/gruhl.xcuserdatad/xcschemes/

Connectivity Buddy.xcodeproj/project.xcworkspace/xcshareddata/

*.xcworkspacedata

Connectivity Buddy.xcodeproj/xcuserdata/gruhl.xcuserdatad/xcdebugger/
